feature_paper/*
*.zip
app/api/repo/__pycache__/*
app/api/__pycache__/*
__pycache__/*
*.txt
cr/*


app/node_modules
app/.pnp
app/.pnp.js
app/coverage
app/build
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
ignore/*
